{% layout 'layout.liquid' %}
{% block content %}
<div class="tracker-section">
  <div class="tracker-card">
    <legend class="tracker-title">Enter a Flight Number</legend>
    <form action="/tracker/track" method="GET">
    <fieldset>
      <input type="text" class="form-control" name="flight_number" placeholder="EX: (158)" required>
      <button type="submit" class="btn btn-primary md-3">Track</button>
    </fieldset>
  </form>
  </div>
</div>

<div class="row">
  <div class="tracked-flight">
    <h5>Status</h5>
 -- for starts --
        <div class="flight-status">
            <div class="departure">
              <h2 class="status-title">STL{{flights.departure.iata}}</h2>
                <p class="airport">Lambert International{{flights.departure.airport}} </p>
                <p class="scheduled">Scheduled: {{flights.departure.scheduled}}</p>
            </div>
          <p class="departure">✈</p>
            <div class="arrival">
              <h2 class="status-title">ORD{{flights.arrival.iata}} </h2>
              <p class="airport">O'Hare International{{flights.arrival.airport}} </p>
              <p class="scheduled">Scheduled: {{flights.arrival.scheduled}}</p>
              </div>
        </div>
-- end for --
      {% for flights in tracked.data %}
      {% endfor %} 
{%endblock%}