{% layout 'layout.liquid' %}
{% block content %}
<!-- Takes user input to GET flight information via the Flight Number (accessed with FlightStack API) -->
<div class="tracker-section">
  <div class="tracker-card">
    <legend class="tracker-title">Enter a Flight Number</legend>
    <form action="/tracker/track" method="GET">
    <fieldset>
      <input type="text" class="form-control" name="flightNum" placeholder="EX: (4359)" required>
      <button type="submit" class="btn btn-primary md-3">Track</button>
    </fieldset>
  </form>
  </div>
</div>
<!-- This will display the flight information after user input -->
<div class="row">
  <div class="tracked-flight">
    {% for flights in tracked.data %}
      <h3>Status</h5>
      <!-- Display the Airline and its code -->
      <h5>{{flights.airline.name}} {{flights.flight.iata}} </h3> 
      <div class="flight-status">
            <div class="departure">
              <!-- departure iata shows it's departure airport code -->
              <h2 class="status-title">{{flights.departure.iata}}</h2>
              <!-- departure airport NAME not code -->
                <p class="airport"> {{flights.departure.airport}} </p>
                 <!-- Shows the schedules departure time -->
                <p class="scheduled">{{flights.departure.scheduled}}</p>
            </div>
          <p class="departure">✈</p>
            <div class="arrival">
              <h2 class="status-title">{{flights.arrival.iata}} </h2>
              <p class="airport"> {{flights.arrival.airport}} </p>
               <!-- Shows the scheduled arrival time -->
              <p class="scheduled"> {{flights.arrival.scheduled}}</p>
              </div>
        </div>
      {% endfor %} 
    {%endblock%}