{% layout 'layout.liquid' %}
{% block content %}
<!-- Checks if client is logged in -->
{% if loggedIn %}
<!-- If client is logged in, display modal that allows a user to CREATE a post -->
<div class="card" id="create-post">
  <h2 class="create">Create a post</h2>
  <div class="container mt-3">
<button type="button" class="btn create-post" data-bs-toggle="modal" data-bs-target="#postModal">
  Whatcha thinking, {{username}}?
</button>
</div>
  <div class="modal" id="postModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title modal-title-centered">Create a post</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form action="/forums" method="POST">
            <fieldset>
              <legend class="forum-author"> {{username}} </legend>
              <label for="exampleFormControlTextarea1" class="form-label" ></label>
              <input type="text" name="name" class="formControl" style="display: none;">
              <textarea class="form-control" rows="3" placeholder="Tell us what you're thinkin {{username}}" name="content" required></textarea>
            </fieldset>
              <button type="submit" class="btn btn-primary md-3" data-bs-dismiss="modal">Post</button>
          </form>
        </div>

      </div>
    </div>
  </div>
        <form action="/forums/new" method="get">
        </form>
    </div>
{% else %}
<!-- Otherwise, #postModal will prompt the user to either create, or log in to an existing account -->
<div class="card" id="create-post">
  <h2 class="create">Create a post</h2>
  <div class="container mt-3">
<button type="button" class="btn create-post" data-bs-toggle="modal" data-bs-target="#postModal">
  Whatcha thinking?
</button>
</div>
<div class="modal" id="postModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title modal-title-centered">Log In to make a POST</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
          <fieldset>
            <a class="btn btn-warning" href="/users/signup" role="button">Sign Up</a>
            <a class="btn btn-primary" href="/users/login" role="button">Log In</a>
          </fieldset>
      </div>
    </div>
  </div>
</div>
      <form action="/forums/new" method="get">
      </form>
  </div>
{% endif %}
<!-- ForIn to loop through each fourm. Each forum prints in single row line -->
  <div class="row">
    {% for forum in forums %}
      <div class="card">
        <div class="card-head">
          <h5> {{forum.owner.username}} </h5>
          <!-- check if forum owner matches userId - then allow pencil icon to open edit/delete modal -->
            {% if forum.owner == userId %} <!-- STOP HERE STOP HERE STOP -->
              <a style="color: black;" href="/forums/{{forum.id}}" role="button"><i class="bi-pencil-square"></i></a>
            {% endif %}
        </div>
        <div class="cardbody">
          <p class="card-text">
            {{forum.content}}
          </p>
          <hr>
          <a href="/forums/{{forum.id}}" class="comment-btn"><i class="bi bi-chat-square-text">  Comment</i></a>
          
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}