{% layout 'layout.liquid' %}
{% block content %}
<div class="card">
  <div class="card-head">
    <h5> {{username}} </h5>
    <!-- check if forum owner matches userId - then allow pencil icon to open edit/delete modal -->
    {% if forum.owner == userId %}
    <button type="button" class="editBtn" data-bs-toggle="modal" data-bs-target="#editModal">
      <i class="bi-pencil-square"></i>
    </button>
    <div class="modal" id="editModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
              <fieldset>
                <!-- This action will used MthdOvr to DELETE the post -->
                <form action="/forums/{{forum.id}}?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">         
                </form>
                <hr>
                <!-- This action will used MthdOvr to PUT the post -->
                <form action="/forums/{{forum.id}}?_method=PUT" method="POST">
                <fieldset>
                    <legend>Edit {{ forum.author }}</legend>
                    <input 
                        type="text" class="form-control" 
                        name="content"
                        required value="{{ forum.content }}"
                    >
                </fieldset>
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="/forums/{{ forum.id }}" class="btn btn-warning">Back</a>
            </form>
              </fieldset>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  </div>
  <div class="cardbody">
    <p class="card-text">
      {{forum.content}}
    </p>
    <hr>
      <form action="/comments/{{forum.id}}" method="POST">
        <fieldset>
          <legend class="forum-author"> {{username}} </legend>
          <textarea class="form-control" rows="3" placeholder="Write a comment..." name="note" required></textarea>
        </fieldset>
        <input type="submit" class="btn btn-primary md-3" value="Comment"></input>
      </form>
  </div>
</div>
<!-- For-In for comments -->
{% if forum.comments.length > 0 %}
  {% comment %} assign a sort filter to forum comments {% endcomment %}
  {% assign sortedComments = forum.comments | sort: 'createdAt' | reverse %}
  <div class="container-sm just-content-center">
      {% for comm in sortedComments %}
          {% render 'views/users/comment.liquid', comm: comm, userId: userId, forum: forum %}
      {% endfor %}
  </div>
{% else %}
  <div class="interaction">
      <small>no comments yet...</small>
  </div>
{% endif %}


{% endblock %}